/*mobile layout*/

* {
    box-sizing: border-box;     
}

    body {
      background: #D9D9D9;
    }

    h2 {
      font-family: sway_font;
      font-size: 3em;
      color: #7C50BD;
      text-align: center;
      text-shadow: 1px 1px 3px #191970;
    }

    .sway {
        text-align: center;
        color: #FF0000;
    }

    .nba {
        text-align: center;
        color: #FFFFFF;
    }
    .instruction {
        text-align: center;
        color: #D3D3D3;
        font-size: 20px;
    }

    #animation {
      width: 350px;
      height: 500px;
      border: 5px #D9D9D9 solid;
      border-radius: 25px;
      margin: 30px auto auto auto;
      box-shadow: 3px 3px 10px #4484CE, -3px -3px 10px #000080;
    }

    footer {
        color: #FFE4E1;
    }

    .gary, .jordan, .lebron, malone, shaq {
      position: absolute;
    }

    .gary {
        top: 430px;
        left: 300px;
    }

    .payton {
        color: #006400;
    }
    .jordan {
      top: 430px;
      left: 500px;
    }

    .michael {
        color: #FF0000;
    }

    .lebron {
      top: 430px;
      left: 900px;
    }

    .james {
        color: #FFD700;
    }

    .malone {
      top: 15px;
      left: 155px;
    }

    .karl {
        color: #00CED1;
    }

    .shaq {
      top: 15px;
      left: 900px;
    }

    .oneal {
        color: #FF8C00;
    }

    section {
        border-top: 3px solid #DCDCDC;
        border-left: 3px solid #DCDCDC;
        margin: 8px;
        padding: 20px;
        padding-top: 20px;
        border-radius: 75px;
        box-shadow: -4px 0px 8px #DCDCDC;
    }

    section img {
        width: 100px;
        height: 100px;
        float: right;
        border-top: 3px solid #A9A9A9;
        border-left: 3px solid #A9A9A9;
        margin: 8px;
        padding: 12px;
        border-radius: 75px;
        box-shadow: -4px 0px 8px #A9A9A9;

    }

    #click {
      display: block;
      margin: 40px auto;
      height: 40px;
      width: 120px;
      font-size: 25px;
      background-color: #D9D9D9;
      border-radius: 10px;
      outline: none;
    }
/*tablet layout*/
@media only screen and (min-width: 768px) {

    h2 {
      font-size: 4em;
      text-shadow: 2px 2px 5px #191970;
    }   

    #animation {
      width: 725px;
      height: 650px;
      border: 3px #D9D9D9 solid;
      border-radius: 20px;
      margin: 25px auto auto auto;
    }
    
    #click {
      margin: 45px auto;
      height: 75px;
      width: 155px;
      border-radius: 10px;
    }
}
/*desktop layout*/
@media only screen and (min-width: 1120px) {

    h2 {
      font-size: 5em;
      text-shadow: 2px 2px 4px #191970;
    }

    #animation {
      width: 1000px;
      height: 750px;
      border-radius: 24px;
      margin: 64px auto auto auto;
      box-shadow: 6px 6px 18px #4484CE, -6px -6px 18px #000080;
    }

    #click {
      margin: 60px auto;
      height: 80px;
      width: 220px;
      font-size: 32px;
      border-radius: 20px;
    }
}
